#body {
    background: #fff;
    color: #111;
    margin: 70px 50px 40px;
    padding: 15px;
}

#source {
    border-top: #080 solid 1px;
    margin: 0;
    padding-top: .5em;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    background: #333;
    color: #fff;
    font: large/1.3em Verdana, sans-serif;
}

h1 {
    height: 40px;
    left: 50px;
    position: absolute;
    top: 20px;
}

h1 a {
    color: #8f0;
    font-family: Georgia, serif;
    line-height: 40px;
    text-decoration: none;
}

h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    line-height: 1.6em;
}

p {
    margin-bottom: .4em;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

/* MoNKey! client-specific styles */
div.monkey button {
    font-size: large;
    margin-right: .3em;
}

div.monkey div.game ol {
    border-bottom: #080 solid 1px;
    font-size: small;
    line-height: 1em;
    list-style: none;
    margin-bottom: .7em;
    overflow: auto;
}

div.monkey div.game ol li {
    background: #efe;
    border-color: #080;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #080;
    float: left;
    margin-right: .5em;
    padding: .5em;
}

div.monkey div.game ol li.current {
    background: #ffe;
    border-color: #a80;
    color: #a80;
}

div.monkey div.game ol li.open {
    background: #eee;
    border-color: #666;
    color: #666;
}

div.monkey div.game p.rule-set-description, div.monkey div.game p.rule-set-name {
    text-align: center;
}

div.monkey div.game p.rule-set-description {
    font-size: medium;
}

div.monkey div.game p.rule-set-name {
    margin-bottom: 0;
}

div.monkey div.game table {
    border: #000 solid 2px;
    border-collapse: collapse;
    width: auto;
}

div.monkey div.game tbody td.player-1.l {
    background-position: -19px 0;
}

div.monkey div.game tbody td.player-2.l {
    background-position: -19px -19px;
}

div.monkey div.game tbody td.player-3.l {
    background-position: -19px -38px;
}

div.monkey div.game tbody td.player-4.l {
    background-position: -19px -57px;
}

div.monkey div.game td {
    background: #fff url(tiles.gif) 0 21px no-repeat;
    border: #ddd solid 1px;
    cursor: not-allowed;
    height: 21px;
    padding: 0;
    width: 21px;
}

div.monkey div.game td.empty {
    cursor: pointer;
}

div.monkey div.game td.player-1 {
    background-position: -38px 0;
}

div.monkey div.game td.player-2 {
    background-position: -38px -19px;
}

div.monkey div.game td.player-3 {
    background-position: -38px -38px;
}

div.monkey div.game td.player-4 {
    background-position: -38px -57px;
}

div.monkey div.game.player-1 td.hover {
    background-position: 0 0;
}

div.monkey div.game.player-2 td.hover {
    background-position: 0 -19px;
}

div.monkey div.game.player-3 td.hover {
    background-position: 0 -38px;
}

div.monkey div.game.player-4 td.hover {
    background-position: 0 -57px;
}

div.monkey div.lobby .action {
    text-align: center;
    width: 150px;
}

div.monkey div.lobby .rule-set {
    width: 60%;
}

div.monkey div.lobby tbody tr:hover {
    outline-style: solid;
    outline-width: 2px;
}

div.monkey div.lobby td {
    border-color: #eee;
    border-style: solid;
    border-width: 1px 0;
    font-size: medium;
    padding: .2em .5em;
}

div.monkey div.lobby td.no-games {
    color: #666;
    font-style: italic;
    text-align: center;
}

div.monkey div.lobby td.rule-set small {
    font-size: x-small;
}

div.monkey div.lobby td.slot {
    font-size: small;
    line-height: 1em;
}

div.monkey div.lobby td.slot span {
    color: #aaa;
    font-style: italic;
}

div.monkey div.lobby th {
    font-family: Georgia, serif;
}

div.monkey div.lobby tr {
    outline-color: #ccc;
}

div.monkey div.lobby tr.aborted td {
    color: #aaa;
}

div.monkey div.lobby tr.loss {
    outline-color: #c00;
}

div.monkey div.lobby tr.loss td {
    background: #fee;
    border-color: #fdd;
    color: #c00;
}

div.monkey div.lobby tr.win {
    outline-color: #080;
}

div.monkey div.lobby tr.win td {
    background: #efe;
    border-color: #dfd;
    color: #080;
}

div.monkey div.lobby tr.playing {
    outline-color: #fc0;
}

div.monkey div.lobby tr.playing td {
    background: #ffc;
    border-color: #fea;
}

div.monkey div.lobby ul {
    border-bottom: #080 solid 1px;
    list-style: none;
    margin: 1em 0 .5em;
    overflow: auto;
}

div.monkey div.lobby ul a {
    background: #eee;
    border-color: #aaa;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #888;
    display: block;
    outline: none;
    padding: .2em .5em;
    text-decoration: none;
}

div.monkey div.lobby ul li {
    float: left;
    margin-left: .3em;
}

div.monkey div.lobby.past li.past a,
div.monkey div.lobby.play li.play a,
div.monkey div.lobby.view li.view a {
    background-color: #efe;
    border-color: #080;
    color: #080;
}

div.monkey p.player {
    color: #fff;
    font-size: medium;
    line-height: 40px;
    position: absolute;
    right: 55px;
    top: 30px;
}

div.monkey p.player a {
    color: #8f0;
}

div.monkey p.player a.alert {
    background: #8f0;
    color: #333;
}

div.monkey select {
    font-size: large;
    margin-right: .5em;
    width: 200px;
}

div.monkey table {
    margin: 0 auto 1em;
}
